.stat {
    &__title {
        padding: 12px 24px 12px 24px;
    }
    &__score {
        float: left;
    }
    &__code {
        background: #2A3136;
        color: aliceblue;
        padding: 6px;
        font-weight: bold;
    }
    &__test-results {
        list-style-type: none;

    }
}
