<div *ngIf="task" class="body-blur task-details">
    <h4 class="task-details__title">{{ task.name  }}</h4>
    <div class="loader" *ngIf="loading">
      <h3>Running tests...</h3>
    </div>
  <div class="row">
    <div class="columns small-1 medium-1">
      <a routerLink="/" id="back">Back</a>
    </div>
    <div class="columns small-11 medium-11 description">
      <p>
        {{ task.taskDescription }}
      </p>
      <p *ngIf="task.source">
        The task was taken from <a href="{{ task.source.url }}">{{ task.source.url }}</a>
      </p>
    </div>
  </div>
  <div class="row columns">
    <ngx-monaco-editor
      *ngIf="!testFinished"
      class="my-code-editor"
      [options]="editorOptions"
      [(ngModel)]="code"
    ></ngx-monaco-editor>

    <div class="jumbotron results-window"
         *ngIf="testFinished && testResult === 'success'">
      <h1 class="display-4">Good job!</h1>
      <p class="lead">All the tests for this task have been passed successfully!</p>
      <hr class="my-4">
      <p>Keep on moving!</p>
      <p class="lead">
        <button class="cta-btn btn-lg btn-left" routerLink="/" role="button">Back to task list</button>
      </p>
    </div>

    <div class="jumbotron results-window--fail"
         *ngIf="testFinished && testResult === 'syntax' || testResult === 'failure'">
      <h1 class="display-4">Oops! There might be a mistake in your code</h1>
      <p class="lead">Make sure sure you're doing it right!</p>
      <hr class="my-4">
      <p>Try it again</p>
      <p class="lead">
        <button class="cta-btn btn-lg btn-left" (click)="refreshTask()" role="button">One more time</button>
      </p>
    </div>

  </div>
  <div class="row columns" *ngIf="!testFinished">
    <button
      (click)="onSubmit()"
      class="cta-btn btn-block"
      [disabled]="loading || task.code === code"
      >
      Submit for testing!
    </button>
  </div>
</div>