<div *ngIf="task" class="body-blur">
    <h4>{{ task.name  }}</h4>
  <div class="row">
    <div class="columns small-1 medium-1">
      <a routerLink="/" id="back">&lsaquo;</a>
    </div>
    <div class="columns small-11 medium-11 description">
      <p>
        {{ task.taskDescription }}
      </p>
    </div>
  </div>
  <div class="row columns">
    <ngx-monaco-editor class="my-code-editor" [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>
  </div>
  <div class="row columns">
    <button (click)="onSubmit()" class="cta-btn btn-block">
      Submit for testing!
    </button>
  </div>
</div>