<div class="row header">
  <div class="columns small-12 medium-3">
      <a routerLink="/" class="logo">
        code challenge
      </a>
  </div>
  <div class="columns small-12 medium-6">
    <a routerLink="/stats" class="logo">
      Stats
    </a>
  </div>
  <div class="columns small-12 medium-3">
      <a routerLink="/stats" (click)="onLogout()" class="logo logout">
        Logout
      </a>
    </div>
     <!-- <div class="columns small-12 medium-1">
   <a (click)="addTask()" class="logo logout">
          Add
        </a>
  </div>-->
</div>