.header {
    padding: 30px 20px;
    margin-bottom: 18px;
}

.logo {
    font-size: 20px;
    text-transform: uppercase;
    color: aliceblue;
    &:hover {
        color: #00E4AC;
        text-decoration: none;
    }
}

.logout {
    float: right;
}